.about1 {
    box-sizing: border-box;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* border-left: 15px solid var(--color); */
    margin: 10px;
    padding: 10px;
    align-items: center;
    background-color: rgb(212, 212, 212);
  }
  .about1 h1 {
    font-size: 30px;
    box-sizing: border-box;
    margin: 0px;

  }
  
  .about1 p {
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    font-weight: 520;
    font-size: 1rem;
    margin: 0px;
    padding: 10px;
    align-items: center; 
    text-align: center;
    justify-content: center;
  }