.hamburger-menu {
    display: inline-block;
    padding-left: 10px;
    /* padding-top: 20px; */
    /* border: 0; */
}

.hamburger-btn {
    border: 0;
}

.hamburger-btn i {
    font-size: 1.5rem;
    background-color: var(--color);
    color: white;
    /* border: 0; */
}

.hamburger-btn:hover {
    cursor: pointer;
}
