* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --color: rgb(74, 75, 155);
}
@media screen and (max-width: 768px) {
  html {
    background-color: rgb(245, 245, 248);
    display: flex;
    flex-direction: column;
  }
  .item1 {
    font-size: 15px;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  /* background-image: url("./ERC.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw; */
}
.nav1 {
  position: sticky;
  top: 0;
  height: 70px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* background-color: rgb(74, 75, 155); */
  background-color: var(--color);
  color: white;
  /* justify-content: space-around; */
  /* background-image: url("./ERC.jpg");
  background-size: cover;
  height: 150vh;
   width: 100vw */
}
.logo {
  /* padding-top: 5px; */
  padding-left: 20px;  
  display: flex;
  justify-content: center;
  /* position: relative; */

}

.logo img {
  height: 60px;
}
/* .search {
  gap: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}
.search input{
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-color: black;
}
.search button{
    text-height: 10px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 0 5px 5px 0;
    background-color: white;
    color: black;
} */
/* 
.text-aces {
  padding-left: 200px;
  padding-top: 25px;
  font-size: 20px;
  width: 100%;
  display: inline-flex;
  -webkit-box-reflect: below -20px linear gradient(transparent, #3700ff2e);
}

.bounce span {
  display: inline-flex;
  color: #ffffff;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-20px);
  }
}
.ten span:nth-of-type(1) {
  animation-delay: 0.1s;
}
.ten span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.ten span:nth-of-type(3) {
  animation-delay: 0.3s;
}
.ten span:nth-of-type(4) {
  animation-delay: 0.4s;
}
.ten span:nth-of-type(5) {
  animation-delay: 0.5s;
}
.ten span:nth-of-type(6) {
  animation-delay: 0.6s;
} */

.section {
  position: relative;
  left: 60%;
}

.section ul {
  /* padding-right: 10px; */
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding-top: 20px; */
}
.section ul li a {
  text-decoration: none;
  width: 80px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  transition: 0.4s all ease;
}
.section ul li a:hover {
  /* color: rgb(255, 255, 255); */
  color: gray;
 
  transform: 0.4s all ease;
}
.section ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}
.section ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.section ul button {
  width: 103px;
  padding: 10px;
  background-color: var(--bg-color);
  color: white;
  margin: 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;
}
.section ul button:hover {
  background-color: grey;
  color: white;
}
.section ul button {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.section ul button:hover {
  background-color: #414745;
  box-shadow: 0px 15px 20px;
  color: rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.section ul button:active {
  transform: translateY(-1px);
}
#Home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../external_resources/ERC.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
  text-align: center;
  /* padding-top: 100px; */
  -webkit-text-stroke-width: 60%;
}
#Home h1 {
  justify-content: center;
  text-align: center;
}
#Home button {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 500;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 100px;
  margin-top: 10px;
  width: 150px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.2s;
}
#Home button:hover {
  transform: scale(1.08);
}
.about1 {
  height: 90vh;
  display: block;
  justify-content: center;
  text-align: center;
  border-left: 15px;
  margin: 10px;
  padding: 30px 40px 0 40px;
  align-items: center;
  background-color: rgb(212, 212, 212);
}

.mainProject {
  margin: 20px 50px 20px 90px;
}

.project1{
  height: 100%;
  display: block;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 30px 40px 0 40px;
  align-items: center;
  background: linear-gradient(to top, white, lightblue);

}
.project1 p{
  margin-top: 6px;
  text-align: center;
}
.project1 ul {
  
  display: flex;
  align-content: center;
  justify-content: center;
  list-style: none;
  height: 450px;

}
.project1 ul li{
  margin: 30px;
  margin-top: 20px;
  background: radial-gradient(circle at center, #f1f1f1, lightblue);;
  box-sizing: border-box;
  border-radius: 15px;
  
  width: 240px;
  height: 386px;
}
.project1 ul li img{
  border-radius: 100%;
  margin: 5PX;
  padding: 6PX;
}
.project1 ul li h1{
  font-weight: normal;
  font-size: large;
  font-family: math;
  margin: 10px;
  padding: 1px;
}
.project1 ul li p{
  padding: 6px;
  FONT-SIZE: revert;
  FONT-FAMILY: ui-monospace;
  FONT-WEIGHT: inherit;
  MARGIN: 10PX;
  padding: 3px;
}
.project1 h1:hover{
}
.News1{
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: block;  
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
 

}
.News1 h1:hover{
}
.News1 h1{
  justify-content: center;
  display: flex;
  align-items: center;
   

}
.News1 p{
 margin: 8px;
 margin-left: 30px;
}
.News1 ul{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 0px 98px 0px 146px;
  margin: 6PX 33PX 8PX 90PX;
  list-style: none;


}
.News1 ul li{
  width:40vw;
  /* margin: 60px; */
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.News1 ul li img{
  border-radius: 100%;
  margin: -6px;
  /* margin-right: 75px; */

  padding: 4px;

}
.News1 ul li h1{
  color: darkgoldenrod;
  margin: 2px;
  padding: 2px;
  /* padding-right: 160px; */
  /* padding-left: 70px; */

}
.News1 ul li p{
  margin: 2px;
  padding: 2px;
}
.notice p{
     margin: -6px;
    padding: 0px;
    margin-left: 14px;
}

.notice select{
  padding: 2px;
  margin: 10px;
  margin-bottom: 14px;
  border-radius: 10px;
  text-align: center;
  font-size: medium;
}